@use './variables.scss' as *;

.glide-ui-listbox {
  position: relative;

  &__label {
    position: relative;
    background-color: $color-white;
    display: inline-block;
    border: 1px solid $color-border-color;
    padding: 0.5rem 1.5rem 0.5rem 0.75rem;
    min-width: 150px;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    display: inline-block;
    margin-left: 0.5rem;
    width: 0;
    height: 0;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $color-white;
    position: absolute;
    min-width: 170px;
    max-height: 304px;
    overflow-y: auto;
    width: auto;
    top: calc(100% - 1px);
    z-index: 999;
    border: 1px solid $color-border-color;
  }

  &__option {
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    &:hover {
      background-color: $color-hover-color;
    }
    &[aria-selected='true'] {
      background-color: $color-primary;
      color: $color-white;
    }
    &[aria-disabled='true'] {
      opacity: .5;
      cursor: default;
      pointer-events: none;
    }
  }
}
