@use './variables.scss' as *;
@use './utility.scss' as *;

.glide-ui-tabs.horizontal {
  width: 100%;

  .glide-ui-tab-list {
    display: flex;
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-border-color;
  }
}

.glide-ui-tabs.vertical {
  width: 100%;
  display: flex;

  .glide-ui-tab-list {
    min-width: 160px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-border-color;
  }

  .glide-ui-tab-panels {
    flex: 1;
  }
}

.glide-ui-tab-list {
  .glide-ui-tab-item {
    position: relative;
    border: none;
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    background-color: transparent;
    color: $color-tab-inactive;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    .tab-item-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 100%;
    }
  }

  .tab-item-indicator {
    position: absolute;
    background-color: $color-primary;
    display: none;
  }

  // tab hover | tab selected
  .glide-ui-tab-item:hover,
  .glide-ui-tab-item[aria-selected='true'] {
    color: $color-primary;
  }

  // tab disabled
  .glide-ui-tab-item:disabled {
    cursor: default;
    color: $color-tab-disabled;
  }

  &.small .glide-ui-tab-item {
    font-size: 0.875rem;
  }

  &.large .glide-ui-tab-item {
    font-size: 1.125rem;
  }
}

.glide-ui-tab-list[aria-orientation='horizontal'] {
  .tab-item-indicator {
    height: 2px;
    left: 0;
    right: 0;
    bottom: -1px;
  }
  &.tab-type-line {
    .glide-ui-tab-item {
      padding: 0.5rem 1rem;
    }
    .glide-ui-tab-item[aria-selected='true'] .tab-item-indicator {
      display: block;
    }
  }
  &.tab-type-segment {
    background-color: $color-segment-background;
    padding: 4px;
    .glide-ui-tab-item {
      flex: 1;
    }
    .glide-ui-tab-item[aria-selected='true'] {
      border-radius: 4px;
      background-color: $color-white;
    }
  }
  &.tab-type-card {
    .glide-ui-tab-item {
      padding: 0.5rem 1rem;
    }
    .glide-ui-tab-item[aria-selected='true'] {
      box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1),
        1px 0 1px 0 rgba(0, 0, 0, 0.1);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      background-color: $color-card-background;
    }
    .glide-ui-tab-item[aria-selected='true'] .tab-item-indicator {
      display: block;
      height: 1px;
      background-color: $color-white;
    }
  }

  &.tab-type-line {
    &.space-between {
      @extend .justify-space-between;
    }
    &.space-around {
      @extend .justify-space-around;
    }
    &.space-evenly {
      @extend .justify-space-evenly;
    }
    &.start {
      @extend .justify-start;
    }
    &.end {
      @extend .justify-end;
    }
    &.center {
      @extend .justify-center;
    }
  }
}

.glide-ui-tab-list[aria-orientation='vertical'] {
  .tab-item-indicator {
    width: 2px;
    right: -1px;
    top: 0;
    bottom: 0;
  }
  &.tab-type-line {
    .glide-ui-tab-item[aria-selected='true'] .tab-item-indicator {
      display: block;
    }
  }
  &.tab-type-segment {
    background-color: $color-segment-background;
    padding: 4px;
    .glide-ui-tab-item[aria-selected='true'] {
      background-color: $color-white;
      border-radius: 4px;
    }
  }
  &.tab-type-card {
    .glide-ui-tab-item[aria-selected='true'] {
      background-color: $color-card-background;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1),
        0 1px 1px 0 rgba(0, 0, 0, 0.1);
      .tab-item-indicator {
        display: block;
        width: 1px;
        background-color: $color-white;
      }
    }
  }
}

.glide-ui-tab-panels {
  .glide-ui-tab-panel {
    display: none;
  }

  // tab panel active | tab panel selected
  .glide-ui-tab-panel[aria-hidden='false'] {
    display: block;
  }
}
